<!DOCTYPE html>
<html>
	<head>
		<title>CORONA</title>
		<meta name = "viewport" content="width=device-width , user-scalable=no">
		<link rel="stylesheet" type="text/css" href="./public/head.css">
		<link rel="stylesheet" type="text/css" href="./public/common.css">
		<style type="text/css">
			
			td.head{
				padding-top: 20px;
				padding-bottom: 20px;
			}

			table{
				margin: auto;
				width: 100%;
			}
			

			td{
				border-bottom: 3px solid;
				width: 20%;
				padding: 4px;
			}

			td.head{
				border-bottom: 5px solid red;
				font-weight: 900;
				/*font-size: 18px*/

			}

			td.cname{
				font-weight: bold;
			}

			*{
				font-family: arial;
				text-decoration: none;
			}

			table a:visited{
				color:black;
			}

			
		</style>
	</head>
	<body>
		<%- header %>
		<table >
			<tr class="header">
				<td class="head">ÜLKE İSMİ</td>
				<td class="head">VAKA</td>
				<td class="head">ÖLÜM</td>
				<td class="head">İYİLEŞME</td>
			</tr>
			<% data.forEach(c => { %>
				<tr>
					<td class="cname"><a href = "/statistics/<%= url(c.country) %>"> <%= c.country %> </a></td>
					<td class="prop"><%= c.totalCases %></td>
					<td class="prop"> <%= c.totalDeaths %> </td>
					<td class="prop"> <%= c.totalRecovered %> </td>
				</tr>
			<% }) %>
		</table>
	</body>
</html>